In [1]:
student={"stdid":"std101", "stdname":"ashish kumar", "standard":"10th", "Age":"15", "Hindi":"67", "English":"89"}
print(student)

{'stdid': 'std101', 'stdname': 'ashish kumar', 'standard': '10th', 'Age': '15', 'Hindi': '67', 'English': '89'}

In [3]:
student.pop('Hindi')

'67'

In [5]:
print(student)

{'stdid': 'std101', 'stdname': 'ashish kumar', 'standard': '10th', 'Age': '15', 'English': '89'}

In [7]:
student.popitem()
print(student)

{'stdid': 'std101', 'stdname': 'ashish kumar', 'standard': '10th', 'Age': '15'}

In [9]:
elementkeys=student.keys()
print(elementkeys)

dict_keys(['stdid', 'stdname', 'standard', 'Age'])

In [11]:
elementvalues=student.values()
print(elementvalues)

dict_values(['std101', 'ashish kumar', '10th', '15'])

In [15]:
elements=student.items()
print(elements)

dict_items([('stdid', 'std101'), ('stdname', 'ashish kumar'), ('standard', '10th'), ('Age', '15')])

In [17]:
x=student.get('math')
print(x)

None

In [21]:
x=student.get('math','no element exist')
print(x)

no element exist

In [23]:
student1={"stdid":"std101", "stdname":"ashish", "standard":"10th", "Age":"15",}
student2={"stdid":"std102", "stdname":"kumar", "standard":"10th", "Age":"19", "Hindi":"67", "English":"89"}
student1.update(student2)
print(student1)

{'stdid': 'std102', 'stdname': 'kumar', 'standard': '10th', 'Age': '19', 'Hindi': '67', 'English': '89'}

In [29]:
x=student1.fromkeys('standard','stdname')
print(x)

{'s': 'stdname', 't': 'stdname', 'a': 'stdname', 'n': 'stdname', 'd': 'stdname', 'r': 'stdname'}

In [33]:
x=student1.fromkeys(student1.keys(),student1.values())
print(x)

{'stdid': dict_values(['std102', 'kumar', '10th', '19', '67', '89']), 'stdname': dict_values(['std102', 'kumar', '10th', '19', '67', '89']), 'standard': dict_values(['std102', 'kumar', '10th', '19', '67', '89']), 'Age': dict_values(['std102', 'kumar', '10th', '19', '67', '89']), 'Hindi': dict_values(['std102', 'kumar', '10th', '19', '67', '89']), 'English': dict_values(['std102', 'kumar', '10th', '19', '67', '89'])}

In [35]:
x=student1.fromkeys(student1.keys(),15)
print(x)

{'stdid': 15, 'stdname': 15, 'standard': 15, 'Age': 15, 'Hindi': 15, 'English': 15}

In [41]:
x=len(student1)
print(x)

6

In [58]:
student={
    'data1':{'stdid': 'std101', 'stdname': 'Ashish Kumar', 'standard': '10th', 'Age': 15,
        'Hindi': 67, 'English': 89, 'Maths': 87, 'Science': 89, 'Computer': 90, 'Total': 422},
    'data2':{'stdid': 'std102', 'stdname': 'Abhishek Kumar', 'standard': '10th', 'Age': 14,
        'Hindi': 90, 'English': 90, 'Maths': 90, 'Science': 45, 'Computer': 45, 'Total': 360},
    'data3':{'stdid': 'std103', 'stdname': 'Aman', 'standard': '10th', 'Age': 15,
        'Hindi': 67, 'English': 56, 'Maths': 78, 'Science': 78, 'Computer': 45, 'Total': 313},
    'data4':{'stdid': 'std104', 'stdname': 'Rahul', 'standard': '10th', 'Age': 15,
        'Hindi': 89, 'English': 56, 'Maths': 45, 'Science': 45, 'Computer': 67, 'Total': 302},
    'data5': {'stdid': 'std105', 'stdname': 'Ruby', 'standard': '10th', 'Age': 13,
        'Hindi': 78, 'English': 90, 'Maths': 67, 'Science': 45, 'Computer': 56, 'Total': 336},
    'data6':{'stdid': 'std106', 'stdname': 'Suman', 'standard': '10th', 'Age': 15,
        'Hindi': 90, 'English': 45, 'Maths': 67, 'Science': 67, 'Computer': 67, 'Total': 403},
    'data7':{'stdid': 'std107', 'stdname': 'Saurabh', 'standard': '10th', 'Age': 15,
        'Hindi': 45, 'English': 23, 'Maths': 34, 'Science': 78, 'Computer': 90, 'Total': 270},
    'data8':{'stdid': 'std108', 'stdname': 'Sumit', 'standard': '10th', 'Age': 15,
        'Hindi': 78, 'English': 90, 'Maths': 67, 'Science': 78, 'Computer': 78, 'Total': 391},
    'data9':{'stdid': 'std109', 'stdname': 'Kamlesh', 'standard': '10th', 'Age': 15,
        'Hindi': 45, 'English': 78, 'Maths': 56, 'Science': 67, 'Computer': 67, 'Total': 303},
    'data10':{'stdid': 'std110', 'stdname': 'Rohan', 'standard': '10th', 'Age': 15,
        'Hindi': 12, 'English': 24, 'Maths': 45, 'Science': 56, 'Computer': 34, 'Total': 171}
}
print(student)

{'data1': {'stdid': 'std101', 'stdname': 'Ashish Kumar', 'standard': '10th', 'Age': 15, 'Hindi': 67, 'English': 89, 'Maths': 87, 'Science': 89, 'Computer': 90, 'Total': 422}, 'data2': {'stdid': 'std102', 'stdname': 'Abhishek Kumar', 'standard': '10th', 'Age': 14, 'Hindi': 90, 'English': 90, 'Maths': 90, 'Science': 45, 'Computer': 45, 'Total': 360}, 'data3': {'stdid': 'std103', 'stdname': 'Aman', 'standard': '10th', 'Age': 15, 'Hindi': 67, 'English': 56, 'Maths': 78, 'Science': 78, 'Computer': 45, 'Total': 313}, 'data4': {'stdid': 'std104', 'stdname': 'Rahul', 'standard': '10th', 'Age': 15, 'Hindi': 89, 'English': 56, 'Maths': 45, 'Science': 45, 'Computer': 67, 'Total': 302}, 'data5': {'stdid': 'std105', 'stdname': 'Ruby', 'standard': '10th', 'Age': 13, 'Hindi': 78, 'English': 90, 'Maths': 67, 'Science': 45, 'Computer': 56, 'Total': 336}, 'data6': {'stdid': 'std106', 'stdname': 'Suman', 'standard': '10th', 'Age': 15, 'Hindi': 90, 'English': 45, 'Maths': 67, 'Science': 67, 'Computer': 67, 'Total': 403}, 'data7': {'stdid': 'std107', 'stdname': 'Saurabh', 'standard': '10th', 'Age': 15, 'Hindi': 45, 'English': 23, 'Maths': 34, 'Science': 78, 'Computer': 90, 'Total': 270}, 'data8': {'stdid': 'std108', 'stdname': 'Sumit', 'standard': '10th', 'Age': 15, 'Hindi': 78, 'English': 90, 'Maths': 67, 'Science': 78, 'Computer': 78, 'Total': 391}, 'data9': {'stdid': 'std109', 'stdname': 'Kamlesh', 'standard': '10th', 'Age': 15, 'Hindi': 45, 'English': 78, 'Maths': 56, 'Science': 67, 'Computer': 67, 'Total': 303}, 'data10': {'stdid': 'std110', 'stdname': 'Rohan', 'standard': '10th', 'Age': 15, 'Hindi': 12, 'English': 24, 'Maths': 45, 'Science': 56, 'Computer': 34, 'Total': 171}}

In [98]:
import pandas as pd 
from tabulate import tabulate
Students = [
            {'stdid': 'std101', 'stdname': 'Ashish Kumar', 'standard': '10th', 'Age': 15,
            'Hindi': 67, 'English': 89, 'Maths': 87, 'Science': 89, 'Computer': 90, 'Total': 422
            },
            {'stdid': 'std102', 'stdname': 'Abhishek Kumar', 'standard': '10th', 'Age': 14,
                'Hindi': 90, 'English': 90, 'Maths': 90, 'Science': 45, 'Computer': 45, 'Total': 360
            },
            {'stdid': 'std103', 'stdname': 'Aman', 'standard': '10th', 'Age': 15,
                'Hindi': 67, 'English': 56, 'Maths': 78, 'Science': 78, 'Computer': 45, 'Total': 313
            },
            {'stdid': 'std104', 'stdname': 'Rahul', 'standard': '10th', 'Age': 15,
                'Hindi': 89, 'English': 56, 'Maths': 45, 'Science': 45, 'Computer': 67, 'Total': 302
            },
            {'stdid': 'std105', 'stdname': 'Ruby', 'standard': '10th', 'Age': 13,
                'Hindi': 78, 'English': 90, 'Maths': 67, 'Science': 45, 'Computer': 56, 'Total': 336
            },
            {'stdid': 'std106', 'stdname': 'Suman', 'standard': '10th', 'Age': 15,
                'Hindi': 90, 'English': 45, 'Maths': 67, 'Science': 67, 'Computer': 67, 'Total': 403
            },
            {'stdid': 'std107', 'stdname': 'saurabh', 'standard': '10th', 'Age': 15,
                'Hindi': 45, 'English': 23, 'Maths': 34, 'Science': 45, 'Computer': 34, 'Total': 181
            },
            {'stdid': 'std108', 'stdname': 'Sumit', 'standard': '10th', 'Age': 15,
                'Hindi': 78, 'English': 90, 'Maths': 67, 'Science': 78, 'Computer': 78, 'Total': 391
            },
            {'stdid': 'std109', 'stdname': 'Kamlesh', 'standard': '10th', 'Age': 15,
                'Hindi': 45, 'English': 78, 'Maths': 56, 'Science': 67, 'Computer': 67, 'Total': 303
            },
            {'stdid': 'std110', 'stdname': 'Rohan', 'standard': '10th', 'Age': 15,
                'Hindi': 12, 'English': 24, 'Maths': 45, 'Science': 56, 'Computer': 34,'Total':171
            }
]
header = ["stdid","stdname","standard","Age","Hindi","English","Maths","Science","Computer","Total"]

df=pd.DataFrame(data=Students,columns=header)
student_tabulate= tabulate(df,headers=header,tablefmt="grid")
print(student_tabulate)
#english marks>50
english_filter=df[df['English']>50]

print(english_filter[['stdname','Age']])

+----+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
|    | stdid   | stdname        | standard   |   Age |   Hindi |   English |   Maths |   Science |   Computer |   Total |
+====+=========+================+============+=======+=========+===========+=========+===========+============+=========+
|  0 | std101  | Ashish Kumar   | 10th       |    15 |      67 |        89 |      87 |        89 |         90 |     422 |
+----+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
|  1 | std102  | Abhishek Kumar | 10th       |    14 |      90 |        90 |      90 |        45 |         45 |     360 |
+----+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
|  2 | std103  | Aman           | 10th       |    15 |      67 |        56 |      78 |        78 |         45 |     313 |
+----+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
|  3 | std104  | Rahul          | 10th       |    15 |      89 |        56 |      45 |        45 |         67 |     302 |
+----+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
|  4 | std105  | Ruby           | 10th       |    13 |      78 |        90 |      67 |        45 |         56 |     336 |
+----+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
|  5 | std106  | Suman          | 10th       |    15 |      90 |        45 |      67 |        67 |         67 |     403 |
+----+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
|  6 | std107  | saurabh        | 10th       |    15 |      45 |        23 |      34 |        45 |         34 |     181 |
+----+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
|  7 | std108  | Sumit          | 10th       |    15 |      78 |        90 |      67 |        78 |         78 |     391 |
+----+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
|  8 | std109  | Kamlesh        | 10th       |    15 |      45 |        78 |      56 |        67 |         67 |     303 |
+----+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
|  9 | std110  | Rohan          | 10th       |    15 |      12 |        24 |      45 |        56 |         34 |     171 |
+----+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
          stdname  Age
0    Ashish Kumar   15
1  Abhishek Kumar   14
2            Aman   15
3           Rahul   15
4            Ruby   13
7           Sumit   15
8         Kamlesh   15